# Directories
*/
uploads/

# Extensions
*.c
*.doc
*.jpg
*.orig
*.pdf
*.pem
*.png
*.sql
*.swp
*.TMP
*.txt

# Dotfiles
.CFUserTextEncoding
.cwd
.DS_Store
.dssbackup*
.lesshst
.netrc
.rnd
.viminfo
.Xauthority
.zsh-update

# Normal Files
arduino*
*history
PostgresNotes
logfile

# Executables
vim
