# Directories
*/

# Extensions
*.c
*.doc
*.jpg
*.pdf
*.pem
*.png
*.sql
*.TMP
*.txt

# Dotfiles
.CFUserTextEncoding
.cwd
.DS_Store
.dssbackup*
.lesshst
.netrc
.rnd
.viminfo
.Xauthority
.zsh-update

# Normal Files
arduino*
*history
PostgresNotes

# Executables
vim
