# Directories
*/

# Extensions
*.c
*.doc
*.jpg
*.pdf
*.pem
*.png
*.sql
*.TMP
*.txt

# Dotfiles
.CFUserTextEncoding
.cwd
.lesshst
.netrc
.viminfo
.Xauthority

# Normal Files
arduino*
*history
PostgresNotes
