[user]
	name = michaelporter
	email = michaelporter.0988@gmail.com
[core]
	excludesfile = /Users/michaelporter/.gitignore_global
  editor = ~/vim
[push]
  default = current
[alias]
	amend = commit --amend -C HEAD
	b = branch
	co = checkout
  d = diff
  df = difftool
  l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	s = status
  sp = stash pop
  st = stash
[diff]
  tool = diffmerge
[difftool]
  prompt = false
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
	path = /usr/bin/diffmerge
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
	ui = 1
